<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Passenger Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			width: 100%;
			text-align: center;
			table-layout: fixed;
		}
		a{
			font-size: 24px;
			margin-right: 50px;
		}

		input {
			padding: 5px;
		}
	</style>
</head>

<body style="background-color: lightblue">



	<div style="text-align: center;">
		<h1>Passenger Portal</h1>

	</div>
	<div class="container">
		<p th:text="'Passenger ID:   '+${id}"></p>
		<p th:text="'Passenger Name: '+${name}"></p>
		<h1 style="background-color: green" >Menu</h1>
		<tr>
			<td>
				<a th:href="@{/passenger/modifyprofile/{id}(id=${id})}">
					<button>My Profile</button>
				</a>
			</td>
			<td>
				<a th:href="@{/passenger/busschedules/{id}(id=${id})}">
					<button>Bus Schedules</button>
				</a>
			</td>
			<td>
				<a th:href="@{/passenger/booking/{id}(id=${id})}">
					<button>My Bookings</button>
				</a>
			</td>
		</tr>
		<br>
		<br>
		<h1 style="background-color: green">Search</h1>
		<form role="form" method="get" action="/passenger/busschedules">

			<td><label for="sDate">Journey Date:</label></td>
			<td><input id="sDate" type="date" name="sDate" required /></td>

			<td>
				<input name="passengerId" th:value="${id}" hidden>
				<label for="fromLoc">From Location:</label>
				<select name="fromLoc">
					<option th:each="f : ${from}" th:value="${f}" th:text="${f}" required>
					</option>
				</select>
			</td>

			<td>
				<label for="toLoc">To Location:</label>
				<label>
					<select name="toLoc">
						<option th:each="t : ${to}" th:value="${t}" th:text="${t}" required>
						</option>
					</select>
				</label>
			</td>
			<td><input type="submit" value="Search"></td>

		</form>
		<br><br><br>
		<a href="http://localhost:8080
		/logout">
			<button>Logout</button>
		</a>

	</div>

</body>

</html>